<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rrr.swift">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_75x57_no_background"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AuthActivity.AdminRegActivity"></activity>
        <activity android:name=".MainActivity.UserHomeActivity" />
        <activity android:name=".MainActivity.AdminHomeActivity" />
        <activity android:name=".AuthActivity.LoginActivity" />
        <activity android:name=".AuthActivity.RegActivity" />
        <activity android:name=".LocationActivities.AddLocation" />
        <activity android:name=".temp.Main4Activity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".LocationActivities.LocationEditDetailsActivity" />
        <activity android:name=".LocationActivities.AddEditLocationActivity" />
        <activity android:name=".TaskActivity.TaskActivity" />
        <activity android:name=".SearchExampleActivites.MainActivity" />
        <activity android:name=".GalleryActivities.GalleryActivity" />
        <activity android:name=".LocationActivities.LocationActivity" />
        <activity android:name=".SplashActivity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>